<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    h1{
      text-align: center;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Kayit olma Sayfasi</h1>
  <form action="/kayitol">
    <label for="name">Isim</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="name">EMail:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="name">Pass:</label><br>
    <input type="password" id="password" name="password"><br>

    <button>Kayıt ol</button>
  </form>
</body>
</html>